<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <!-- Link to your stylesheets in the static folder -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>CINNAMON LEAF LEASURE RESORT</title>
  </head>
  <body>
    <nav>
      <div class="nav__bar">
        <div class="nav__header">
          <div class="logo nav__logo">
            <div>C</div>
            <span>CINNAMON LEAF<br />LEASURE RESORT</span>
          </div>
          <div class="nav__menu__btn" id="menu-btn">
            <i class="ri-menu-line"></i>
          </div>
        </div>
        <ul class="nav__links" id="nav-links">
          
          
          <li><a href="#room">Activity</a></li>
          <li><a href="#feature">Feature</a></li>
          <li><a href="#gallery__section">Gallery</a></li>
          <li><a href="#news">Food Menu</a></li>
          <li><a href="#Contact">Contact Us</a></li>
        </ul>
      </div>
    </nav>

    <header class="header" id="home">
      <div class="section__container header__container">
        <p class="section__subheader">ABOUT US</p>
        <h1>Your Leisure<br />Partner</h1>
       
      </div>
    </header>



    <section class="about" id="about">
      <div class="section__container about__container">
        <div class="about__grid">
          <div class="about__image">
            <img src="{{ url_for('static', filename='images/ad1.jpg') }}" alt="about" />
          </div>


        </div>
        <div class="about__content">
          <p class="section__subheader">ABOUT US</p>
          <h2 class="section__header">Embrace Nature’s Comfort</h2>
          <p class="section__description">
            This captures the essence of the resort's peaceful atmosphere, nature, and eco-friendly vibe while inviting potential guests to experience the calm and refreshing environment of Cinnamon Leaf Leisure Resort.
          </p>
          
        </div>
      </div>
    </section>



    <section class="map__section">
      <div class="section__container">
        <h2>Find Us Here</h2>
        <p>Visit us at our location and enjoy the best leisure experience.</p>
        <div class="map__container">
          <iframe 
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d18855.318875303416!2d80.25668877940404!3d6.541562657704046!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae3cf00050a088f%3A0x7fc065d0d065590c!2scinnamon%20Leaf%20Leisure%20resort!5e0!3m2!1sen!2slk!4v1740970484248!5m2!1sen!2slk" 
            width="600" 
            height="450" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>

        </div>
      </div>
    </section>
    

    <section class="room__container" id="room">
      <p class="section__subheader"></p>
      <h2 class="section__header">Activities</h2>
      <div class="room__grid">
        <div class="room__card">
          <img src="{{ url_for('static', filename='images/foods.jpg') }}" alt="room" />
          <div class="room__card__details">
            <div>
              <h4>A Taste of Tradition</h4>
              <p>Enjoy a wholesome Sri Lankan breakfast, just like in a traditional village.</p>
            </div>
            
          </div>
        </div>
        <div class="room__card">
          <img src="{{ url_for('static', filename='images/archery.jpg') }}" alt="room" />
          <div class="room__card__details">
            <div>
              <h4>Unleash Your Inner Archer 🎯🏹</h4>
              <p>Test your skills in our archery arena! </p>
            </div>
            
          </div>
        </div>
        <div class="room__card">
          <img src="{{ url_for('static', filename='images/room-3.jpg') }}" alt="room" />
          <div class="room__card__details">
            <div>
              <h4>Feast Beneath the Forest Canopy 🌳🍽️</h4>
              <p>
                Seated on handcrafted wooden furniture, you’ll enjoy the soothing sounds of nature while savoring delicious, freshly prepared meals in this peaceful hidden retreat.
              </p>
            </div>
            
          </div>
        </div>
        <div class="room__card">
          <img src="{{ url_for('static', filename='images/v2.jpg') }}" alt="room" />
          <div class="room__card__details">
            <div>
              <h4> Refresh in Our Natural Spring Pool 🌿💦</h4>
              <p>
                Immerse yourself in pure, crystal-clear water surrounded by nature. Our natural spring pool offers a refreshing retreat, perfect for cooling off after a day of adventure.
              </p>
            </div>
           
          </div>
        </div>        <div class="room__card">
          <img src="{{ url_for('static', filename='images/v1.jpg') }}" alt="room" />
          <div class="room__card__details">
            <div>
              <h4>Savor Every Bite with a Scenic View 🍽️🌄</h4>
              <p>
                Picture yourself dining on a handcrafted wooden chair, overlooking breathtaking landscapes
              </p>
            </div>
            
          </div>
        </div>        <div class="room__card">
          <img src="{{ url_for('static', filename='images/v3.jpg') }}" alt="room" />
          <div class="room__card__details">
            <div>
              <h4>Breathtaking Tea Garden Views 🍃☕</h4>
              <p>
                Wake up to a mesmerizing view of lush tea plantations. 
              </p>
            </div>
            
          </div>
        </div>        <div class="room__card">
          <img src="{{ url_for('static', filename='images/v4.jpg') }}" alt="room" />
          <div class="room__card__details">
            <div>
              <h4> Stay in Nature’s Embrace – Unique Rock Huts 🏡🌿</h4>
              <p>
                Experience the charm of our Natural rock huts, designed to blend perfectly with nature.
              </p>
            </div>
            
          </div>
        </div>        
        <div class="room__card">
          <img src="{{ url_for('static', filename='images/v5.jpg') }}" alt="room" />
          <div class="room__card__details">
            <div>
              <h4> Dine & Relax in a Secret Forest Escape 🌲🪵</h4>
              <p>
                Experience nature like never before with our handcrafted wooden seating, hidden deep within the forest. Whether enjoying a quiet meal or a peaceful moment, this secluded spot offers an unforgettable ambiance.
              </p>
            </div>
            
          </div>
        </div>
        <div class="room__card">
          <img src="{{ url_for('static', filename='images/food.jpg') }}" alt="room" />
          <div class="room__card__details">
            <div>
              <h4>Flavors of the Night – The Ultimate Evening Feast 🍢🔥</h4>
              <p>
                As the sun sets, indulge in our chef’s special evening dishes. From sizzling grilled meats to flavorful curries, every bite is a celebration of Sri Lankan flavors.
              </p>
            </div>
            
          </div>
        </div>

      </div>
    </section>

    <section class="intro">
      <div class="section__container intro__container">
        <div class="intro__cotent">
          <p class="section__subheader">INTRO VIDEO</p>
          <h2 class="section__header">Discover Our Tranquil Retreat</h2>
          <p class="section__description">
            Whether you're looking for a peaceful village escape or a chance to reconnect with nature, Cinnamon Leaf Leisure Resort offers an unforgettable experience. Nestled in the heart of lush greenery, our rustic homes provide the perfect blend of serenity and comfort, waiting for you to unwind and explore.
          </p>
          <button class="btn">Book Now</button>
        </div>
        <div class="intro__video">
          <video src="{{ url_for('static', filename='images/luxury.mp4') }}" autoplay muted loop></video>
        </div>
      </div>
    </section>

    <section class="gallery__section" id="gallery__section">
      <div class="gallery__container">
        <h2 class="gallery__header">Image Gallery</h2>
        <div class="gallery__grid">
          <!-- Gallery Image 1 -->
          <div class="gallery__card">
            <img src="{{ url_for('static', filename='images/food2.jpg') }}" alt="Gallery Image 1" class="gallery__image" />
          </div>
          <!-- Gallery Image 2 -->
          <div class="gallery__card">
            <img src="{{ url_for('static', filename='images/gal2.jpg') }}" alt="Gallery Image 2" class="gallery__image" />
          </div>
          <!-- Gallery Image 3 -->
          <div class="gallery__card">
            <img src="{{ url_for('static', filename='images/gal3.jpg') }}" alt="Gallery Image 3" class="gallery__image" />
          </div>
          <!-- Gallery Image 4 -->
          <div class="gallery__card">
            <img src="{{ url_for('static', filename='images/gal4.jpg') }}" alt="Gallery Image 4" class="gallery__image" />
          </div>
          <!-- Add more images as needed -->
          <div class="gallery__card">
            <img src="{{ url_for('static', filename='images/gal5.jpg') }}" alt="Gallery Image 4" class="gallery__image" />
          </div>
          <div class="gallery__card">
            <img src="{{ url_for('static', filename='images/gal6.jpg') }}" alt="Gallery Image 4" class="gallery__image" />
          </div>
          <div class="gallery__card">
            <img src="{{ url_for('static', filename='images/gal7.jpg') }}" alt="Gallery Image 4" class="gallery__image" />
          </div>
          <div class="gallery__card">
            <img src="{{ url_for('static', filename='images/gal8.jpg') }}" alt="Gallery Image 4" class="gallery__image" />
          </div>
          <div class="gallery__card">
            <img src="{{ url_for('static', filename='images/gal9.jpg') }}" alt="Gallery Image 4" class="gallery__image" />
          </div>
          <div class="gallery__card">
            <img src="{{ url_for('static', filename='images/gal10.jpg') }}" alt="Gallery Image 4" class="gallery__image" />
          </div>
          <div class="gallery__card">
            <img src="{{ url_for('static', filename='images/gal11.jpg') }}" alt="Gallery Image 4" class="gallery__image" />
          </div>
          <div class="gallery__card">
            <img src="{{ url_for('static', filename='images/gal12.jpg') }}" alt="Gallery Image 4" class="gallery__image" />
          </div>
        </div>
      </div>
    </section>
    
    

    <section class="section__container feature__container" id="feature">
      <p class="section__subheader">FACILITIES</p>
      <h2 class="section__header">Core Features</h2>
      <div class="feature__grid">
        <div class="feature__card">
          <span><i class="ri-thumb-up-line"></i></span>
          <h4>Have High Rating</h4>
          <p>
            We take pride in curating a selection of hotels that consistently
            receive high ratings and positive reviews.
          </p>
        </div>
        <div class="feature__card">
          <span><i class="ri-time-line"></i></span>
          <h4>Quite Hours</h4>
          <p>
            We understand that peace and uninterrupted rest are essential for a
            rejuvenating experience.
          </p>
        </div>
        <div class="feature__card">
          <span><i class="ri-map-pin-line"></i></span>
          <h4>Best Location</h4>
          <p>
            At our hotel booking website, we take pride in offering
            accommodations in the most prime and sought-after locations.
          </p>
        </div>
        <div class="feature__card">
          <span><i class="ri-close-circle-line"></i></span>
          <h4>Booking Policy</h4>
          <p>
            To confirm your booking, please call in advance and make an upfront payment.
          </p>
        </div>
        <div class="feature__card">
          <span><i class="ri-wallet-line"></i></span>
          <h4>Payment Options</h4>
          <p>
            We accept payments via bank transfer, credit/debit card, or mobile payment.
          </p>
        </div>
        <div class="feature__card">
          <span><i class="ri-coupon-line"></i></span>
          <h4>Special Offers</h4>
          <p>
            Whether you're planning a romantic getaway, or a business trip, our
            carefully curated special offers cater to all your needs.
          </p>
        </div>
      </div>
    </section>









    <section class="news" id="news">
      <div class="section__container news__container">
        <p class="section__subheader">Menu</p>
        <h2 class="section__header">Food Menu</h2>
        <div class="news__grid">
          <div class="news__card">
            <img src="{{ url_for('static', filename='images/foodmenu.jpg') }}" alt="news" />
        </div>
      </div>
    </section>

    <footer>
      <div class="site-footer__container" id="Contact">
        <div class="site-footer__left">
          <h2 class="site-footer__title">Cinnamon Leaf</h2>
          <p class="site-footer__description">
            Experience the finest hospitality, where luxury meets comfort and unforgettable moments await.
          </p>
        </div>
        <div class="site-footer__right">
          <div class="site-footer__socials">
            <span class="site-footer__follow-text">Follow us:</span>
            <a href="#" class="site-footer__social-link">Instagram</a>
            <a href="#" class="site-footer__social-link">Facebook</a>
          </div>
          <div class="site-footer__contact">
            <span class="site-footer__contact-text">Contact Us: </span>
            <a href="tel:+94777178125" class="site-footer__contact-phone">0777178125</a>
          </div>
        </div>
      </div>
    </footer>
    
    
    
    
    
    <script>
      const menuBtn = document.getElementById("menu-btn");
      const navLinks = document.getElementById("nav-links");
      const menuBtnIcon = menuBtn.querySelector("i");

      menuBtn.addEventListener("click", () => {
          navLinks.classList.toggle("open");
          const isOpen = navLinks.classList.contains("open");
          menuBtnIcon.setAttribute("class", isOpen ? "ri-close-line" : "ri-menu-line");
      });

      navLinks.addEventListener("click", () => {
          navLinks.classList.remove("open");
          menuBtnIcon.setAttribute("class", "ri-menu-line");
      });

      const scrollRevealOption = { distance: "50px", origin: "bottom", duration: 1000 };

      ScrollReveal().reveal(".header__container .section__subheader", { ...scrollRevealOption });
      ScrollReveal().reveal(".header__container h1", { ...scrollRevealOption, delay: 500 });
      ScrollReveal().reveal(".header__container .btn", { ...scrollRevealOption, delay: 1000 });
      ScrollReveal().reveal(".room__card", { ...scrollRevealOption, interval: 500 });
      ScrollReveal().reveal(".feature__card", { ...scrollRevealOption, interval: 500 });
      ScrollReveal().reveal(".news__card", { ...scrollRevealOption, interval: 500 });
  </script>
  </body>
</html>
